<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd"
>
  <!-- Bean Configuration/Definition -->
<!--	<bean-->
<!--		id="myService"-->
<!--		class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services"-->
<!--		scope="singleton"-->
<!--	/>-->

<!--	<bean-->
<!--		id="myService"-->
<!--		class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services"-->
<!--		scope="prototype"-->
<!--	/>-->

  <!-- Dependency Injection -->
<!--  <bean-->
<!--    id="myService"-->
<!--    class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services"-->
<!--  >-->
<!--    &lt;!&ndash; constructor-based dependency injection &ndash;&gt;-->
<!--  	 <constructor-arg ref="repo"/> -->

<!--    &lt;!&ndash; setter-based dependency injection &ndash;&gt;-->
<!--  	 <property name="repos" ref="repo"/> -->
<!--  </bean>-->

<!--   <bean -->
<!--     id="repo" -->
<!--     class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.data.Repos"-->
<!--   /> -->
    
  <context:component-scan base-package="com.udemy.matt_speake.spring_fundamentals.sec_1_5"/>
</beans>