<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd"
>

  <!-- Bean Configuration/Definition -->
	<bean
		id="service"
		class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services"
		scope="singleton"
		abstract="true"
	/>
	<!-- <bean id="service" class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services" scope="prototype"/> -->

  <!-- Dependency Injection -->
  <bean id="service" class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.business.Services" abstract="true">
    <!-- constructor-based dependency injection -->
  	<!-- <constructor-arg ref="repository"/> -->

    <!-- setter-based dependency injection -->
  	<!-- <property name="repos" ref="repository"/> -->
  </bean>

  <!-- <bean id="repository" class="com.udemy.matt_speake.spring_fundamentals.sec_1_5.Repos"/> -->
    
  <context:component-scan base-package="com.udemy.matt_speake.spring_fundamentals.sec_1_5"/>
</beans>